In [0]:
import pandas as pd
import numpy as np
from collections import Iterable

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
!cd drive

In [0]:
!ls

drive  sample_data

In [0]:
tcedf = pd.read_csv('/content/drive/My Drive/TCE-DAT_historic-exposure_1950-2015.csv',skiprows = 6)
#tcedf = tcedf[tcedf['year'] >= 1980]

In [0]:
emdatdf = pd.read_csv('/content/drive/My Drive/emdat_cleaned.csv')
#emdatdf = emdatdf[emdatdf['Year'] >= 1980 ]

In [34]:
tcedf.shape, emdatdf.shape

((5335, 15), (3463, 44))

In [0]:
tcedf.head(10)

      year     IBTrACS_ID  TC_name  ...   64kn_assets 96kn_pop 96kn_assets
2217  1980  1980001S13173     PENI  ...  3.880521e+07      0.0         0.0
2218  1980  1980003S15137     PAUL  ...  7.926763e+09      0.0         0.0
2219  1980  1980033S12161  UNNAMED  ...  0.000000e+00      0.0         0.0
2220  1980  1980068S13068    LAURE  ...  5.297437e+09      0.0         0.0
2221  1980  1980069S12161     SINA  ...  0.000000e+00      0.0         0.0
2222  1980  1980069S12161     SINA  ...  2.215335e+09      0.0         0.0
2223  1980  1980073S09133    DORIS  ...  0.000000e+00      0.0         0.0
2224  1980  1980075S11072  UNNAMED  ...  0.000000e+00      0.0         0.0
2225  1980  1980076N06148  UNNAMED  ...  0.000000e+00      0.0         0.0
2226  1980  1980081S12170  UNNAMED  ...  0.000000e+00      0.0         0.0

[10 rows x 15 columns]

In [0]:
emdatdf.head(10)

     Unnamed: 0  Year  ...  Total damage ('000$)        CPI
447        2198  1980  ...              400000.0  32.233893
448        2201  1980  ...                   NaN  32.233893
449        2202  1980  ...                   NaN  32.233893
450        2203  1980  ...                   NaN  32.233893
451        2213  1980  ...                6966.0  32.233893
452        2214  1980  ...               40026.0  32.233893
453        2215  1980  ...                4605.0  32.233893
454        2216  1980  ...               13932.0  32.233893
455        2217  1980  ...                   NaN  32.233893
456        2218  1980  ...                1500.0  32.233893

[10 rows x 44 columns]

In [0]:
### emdat processing

In [0]:
### emdat Try dropping rows without storm names. 
emdat_noname_df = emdatdf.dropna(subset=['Event name'])

In [0]:
### Helper function - Flatten nested list
def flatten(lis):
     for item in lis:
         if isinstance(item, Iterable) and not isinstance(item, str):
             for x in flatten(item):
                 yield x
         else:        
             yield item

In [0]:

### Remove columns as explained in Beata's code
emdat_cols_drop = ['Latitude','Longitude','Magnitude (scale)',
                   'EU member','OFDA response', 'Appeal',
                  'Declaration', "Aid contribution ('000$)",
                  'Associated disater', 'Associated disater 2']

emdat_noname_df = emdat_noname_df.drop(columns=emdat_cols_drop)

## Some event names have year numbers. Strip this out.
emdat_noname_df['Event name'] = emdat_noname_df['Event name'].str.replace('\d+', '')

In [14]:
### Remove words like "Hurricane", "Cyclone" e.t.c from names column
import re

to_remove = ['Hurricane', 'Tropical', 'Cyclone','depression', 'storm', 'cylone',
             'Storm', r"\(.*\)", "'", '"', "Typhoon", 'CYCLONE', 'cyclone', 'Tropcal', 
             'TYphoon', 'Topical', 'Depression', 'Typhhon', 'Tyhoon', 'Cclone', 
             'TRopical', 'STROM', 'strom']


for each in to_remove:
  emdat_noname_df['Event name'] = emdat_noname_df['Event name'].str.replace(each, '')


'''
for each in to_remove:
  emdat_noname_df['Event name'] = emdat_noname_df['Event name'].apply(lambda x: x.replace(each, ''))
'''

"\nfor each in to_remove:\n  emdat_noname_df['Event name'] = emdat_noname_df['Event name'].apply(lambda x: x.replace(each, ''))\n"

In [0]:
### Characters to split multi-named columns by example - Natal & Kwazulu & Transvaal
split_terms = ["&", " AND ", "/", " ET ", ","]

for x in split_terms:
  emdat_noname_df['Event name'] = emdat_noname_df['Event name'].str.replace(x, ' & ')


## Indexes of entries with joined names
indexes = emdat_noname_df[emdat_noname_df['Event name'].str.contains("|".join(split_terms))].index


subset_emdat = emdat_noname_df.copy().loc[indexes]
subset_emdat['Event name'] = subset_emdat['Event name'].str.split('&')


cols = subset_emdat.columns.values
cols = [v for v in cols if v != 'Event name']



temp_emdat = []

for _, row in subset_emdat.iterrows():
  for d in row['Event name']:
    temp_emdat.append(flatten([list(row[cols]), d]))


ext_subset_emdat = pd.DataFrame(temp_emdat, columns=cols + ['Event name'])

In [0]:
## Entries with Multi-Event Names
emdat_noname_df.loc[emdat_noname_df[emdat_noname_df['Event name'].str.contains("|".join(split_terms))].index]

      Unnamed: 0  Year  ...  Total damage ('000$)         CPI
716         3519  1982  ...             250000.00   37.745822
791         3954  1985  ...              73000.00   42.074527
884         4735  1984  ...              92000.00   40.633804
893         4791  1985  ...             173000.00   42.074527
941         5202  1989  ...               5236.00   48.489365
1034        5952  1989  ...                   NaN   48.489365
1035        5953  1989  ...              15500.00   48.489365
1059        6195  1990  ...                   NaN   51.106795
1098        6415  1991  ...             278000.00   53.271157
1191        7055  1992  ...               3650.00   54.884642
1221        7356  1993  ...            1670000.00   56.504646
1259        7632  1994  ...              10000.00   57.977974
1264        7637  1994  ...             135400.00   57.977974
1383        8379  1996  ...                   NaN   61.351630
1494        9489  1998  ...                500.00   63.760455
1495        9490  1998  ...               1000.00   63.760455
1496        9491  1998  ...               1000.00   63.760455
1497        9492  1998  ...             150000.00   63.760455
1498        9493  1998  ...             500000.00   63.760455
1562        9961  1998  ...              93200.00   63.760455
1569       10034  1998  ...                100.00   63.760455
1578       10043  1998  ...                   NaN   63.760455
1594       10059  1998  ...              15000.00   63.760455
1595       10060  1998  ...                   NaN   63.760455
1638       10788  2000  ...               9000.00   67.355759
1645       10812  2000  ...               1000.00   67.355759
2208       16573  2007  ...             638000.00   81.101659
2296       17152  2007  ...                   NaN   81.101659
2303       17159  2007  ...                   NaN   81.101659
2307       17163  2007  ...                   NaN   81.101659
3141       22448  2017  ...             185000.00   95.878166
3144       22451  2017  ...                   NaN   95.878166
3145       22452  2017  ...                   NaN   95.878166
3147       22454  2017  ...            1000000.00   95.878166
3150       22457  2017  ...                   NaN   95.878166
3153       22460  2017  ...                174.92   95.878166
3154       22461  2017  ...                   NaN   95.878166
3158       22469  2017  ...               3400.00   95.878166
3165       22499  2017  ...                   NaN   95.878166
3166       22500  2017  ...                   NaN   95.878166
3175       22537  2017  ...                   NaN   95.878166
3189       22551  2017  ...              17200.00   95.878166
3206       22626  2017  ...              57000.00   95.878166
3207       22627  2017  ...              56000.00   95.878166
3208       22628  2017  ...                   NaN   95.878166
3213       22633  2017  ...                   NaN   95.878166
3215       22635  2017  ...                   NaN   95.878166
3269       23111  2017  ...            1000000.00   95.878166
3278       23129  2017  ...             250000.00   95.878166
3368       23594  2019  ...                   NaN  100.000000
3369       23595  2019  ...                   NaN  100.000000
3449       24133  2019  ...                   NaN  100.000000

[52 rows x 34 columns]

In [0]:
emdat_noname_df.loc[indexes]

      Unnamed: 0  Year  ...  Total damage ('000$)         CPI
716         3519  1982  ...             250000.00   37.745822
791         3954  1985  ...              73000.00   42.074527
884         4735  1984  ...              92000.00   40.633804
893         4791  1985  ...             173000.00   42.074527
941         5202  1989  ...               5236.00   48.489365
1034        5952  1989  ...                   NaN   48.489365
1035        5953  1989  ...              15500.00   48.489365
1059        6195  1990  ...                   NaN   51.106795
1098        6415  1991  ...             278000.00   53.271157
1191        7055  1992  ...               3650.00   54.884642
1221        7356  1993  ...            1670000.00   56.504646
1259        7632  1994  ...              10000.00   57.977974
1264        7637  1994  ...             135400.00   57.977974
1383        8379  1996  ...                   NaN   61.351630
1494        9489  1998  ...                500.00   63.760455
1495        9490  1998  ...               1000.00   63.760455
1496        9491  1998  ...               1000.00   63.760455
1497        9492  1998  ...             150000.00   63.760455
1498        9493  1998  ...             500000.00   63.760455
1562        9961  1998  ...              93200.00   63.760455
1569       10034  1998  ...                100.00   63.760455
1578       10043  1998  ...                   NaN   63.760455
1594       10059  1998  ...              15000.00   63.760455
1595       10060  1998  ...                   NaN   63.760455
1638       10788  2000  ...               9000.00   67.355759
1645       10812  2000  ...               1000.00   67.355759
2208       16573  2007  ...             638000.00   81.101659
2296       17152  2007  ...                   NaN   81.101659
2303       17159  2007  ...                   NaN   81.101659
2307       17163  2007  ...                   NaN   81.101659
3141       22448  2017  ...             185000.00   95.878166
3144       22451  2017  ...                   NaN   95.878166
3145       22452  2017  ...                   NaN   95.878166
3147       22454  2017  ...            1000000.00   95.878166
3150       22457  2017  ...                   NaN   95.878166
3153       22460  2017  ...                174.92   95.878166
3154       22461  2017  ...                   NaN   95.878166
3158       22469  2017  ...               3400.00   95.878166
3165       22499  2017  ...                   NaN   95.878166
3166       22500  2017  ...                   NaN   95.878166
3175       22537  2017  ...                   NaN   95.878166
3189       22551  2017  ...              17200.00   95.878166
3206       22626  2017  ...              57000.00   95.878166
3207       22627  2017  ...              56000.00   95.878166
3208       22628  2017  ...                   NaN   95.878166
3213       22633  2017  ...                   NaN   95.878166
3215       22635  2017  ...                   NaN   95.878166
3269       23111  2017  ...            1000000.00   95.878166
3278       23129  2017  ...             250000.00   95.878166
3368       23594  2019  ...                   NaN  100.000000
3369       23595  2019  ...                   NaN  100.000000
3449       24133  2019  ...                   NaN  100.000000

[52 rows x 34 columns]

In [0]:
emdat_noname_df.loc[~emdat_noname_df.index.isin(indexes)].shape

      Unnamed: 0  Year  ...  Total damage ('000$)         CPI
447         2198  1980  ...              400000.0   32.233893
451         2213  1980  ...                6966.0   32.233893
452         2214  1980  ...               40026.0   32.233893
453         2215  1980  ...                4605.0   32.233893
456         2218  1980  ...                1500.0   32.233893
...          ...   ...  ...                   ...         ...
3455       24139  2019  ...                   NaN  100.000000
3456       24140  2019  ...                   NaN  100.000000
3457       24141  2019  ...                   NaN  100.000000
3458       24142  2019  ...             1200000.0  100.000000
3462       24262  2020  ...                   NaN         NaN

[1705 rows x 34 columns]

In [0]:
emdat_noname_df.shape

(1757, 34)

In [0]:
emdat_noname_df.head(1)

           CPI Continent Country name  ...   Type  Unnamed: 0  Year
447  32.233893  Americas        Haiti  ...  Storm        2198  1980

[1 rows x 34 columns]

In [0]:
ext_subset_emdat.head(1)

   Unnamed: 0  Year  Seq  ... Total damage ('000$)        CPI Event name
0        3519  1982  147  ...             250000.0  37.745822   Benedic

[1 rows x 34 columns]

In [0]:
### Order of columns not the same. Enforce uniformity
### Some observations are for multiple cyclones hitting around the same time
## Split entries with multiple names into multiple rows
## One thing to consider here, rather than duplicate row for other values, 
## we could also divide the values by number of unique cyclones. 
emdat_noname_df = pd.concat([emdat_noname_df.loc[~emdat_noname_df.index.isin(indexes)], 
                             ext_subset_emdat[emdat_noname_df.columns.values]], sort=True)

In [0]:
emdat_noname_df['Event name'].unique()

array(['Allen', 'Amy', 'Dean', 'Enid', 'Joe', 'Wally', 'Daman', 'Arthur',
       'Alberto', 'Alleta', 'Orchid', 'Kim', 'Betty ', '', 'Hyacinthe',
       'Joe ', 'Ruth ', 'Phyllis', 'Thad', 'Agnes', 'St. Lidia', 'Cliff',
       'Freda', 'Gyan', 'Clara', 'Irma ', 'Lee ', 'Kelly', 'Damia',
       'Mamie', 'Nelson ', 'Bernie', 'Isaac', 'Dominic', 'Klaus',
       'Winifred', 'Beryl', 'Bess', 'Ellis', 'Judy', 'Cecil', 'Paul',
       'Frida', 'Faye', 'Nancy ', 'Ellen', 'Elinah', 'Oscar', 'Sarah',
       'Forest', 'Tico', 'Andy', 'Vera ', 'Ellen ', 'Orchid ', 'Ike',
       'Fran', 'Hortense', 'Kamisy', 'Domoina', 'Haja', 'June ', 'Agnes ',
       'Ike  and Maring', 'Warren ', ' Kate', 'Gavin', 'Tess', 'Kate',
       ' Irma', 'Pat', 'Brenda', 'Ditra', 'Dot ', 'Hal ', 'Tess ',
       'Peggy', 'Vera', 'Rajah', 'Wayne', 'Charlie', 'Danielle',
       'Honorinina', 'Peggy ', 'Wayne ', 'Dom ', 'Georgia ', 'Narge ',
       'Emily', 'Gerald', 'Ruth', 'Sally', 'Jan', 'Nina', 'Lynn',
       'Thelma', 'Vernon', 'Lynn ', 'Nina ', 'Cart ', 'Phillis ', 'Filao',
       'Iwa', 'Orama', 'Veena', 'Alicia', 'Herbert ', 'Hina', 'Elena',
       'Gloria', 'Juan', 'Namu', 'Abby', 'Raja', 'Maury', 'Uma', 'Anne',
       'B', 'Bill ', 'Kit', 'Joan', 'Gilbert', 'Ruby', 'Brian', 'Hugo',
       'Gina', 'Aivu', 'Orson', 'Hope', 'Gordon', 'Gustav', 'Joy', 'Ofa',
       'N°', 'Yancy', 'Tasha', 'Abe', 'Dot', 'Peni', 'Sina', 'Gorky ',
       'Fred', 'Debby', 'Bola', 'Susan ', 'Ruby ', 'Skip ', 'Keith',
       'Alibera', 'Firinga', 'Delilah', 'Gordon ', 'Dan ', 'Elsie ',
       'Angela ', 'Sarah ', 'Hunt ', 'Breda ', 'Gay', 'Allison',
       'Chantal', ' Jerry', 'Irving', 'Flo', 'Diana', 'Mike ', 'Becky',
       'Ira', 'Thelma ', 'Gladys', 'Cynthia', 'Zelda', 'Bella', 'Brendan',
       'Bob', 'Zeke', 'Polly', 'Andrew', 'Ted', 'Koryn', 'Fred ', 'Russ',
       'Tim', 'Caitlin', 'Kinna', 'Luke', 'Mireille ', 'Zeke ', 'Grace',
       'Gary', 'Iniki', 'Eli ', 'Joni', 'Omar', 'Gari ', 'Lester',
       'Omar ', 'Angela', 'Colleen', 'Axel', 'Kina', 'Robyn', 'Calvin',
       'Irwin', 'Lidia', 'Cindy', 'Bret', 'Koryn ', 'Flo ', 'Lola ',
       'Kyle', 'Nell ', 'Adel', 'Colina', 'Axel ', 'Doug', 'Tim ',
       'Teresa ', 'Harry', 'Nadya', 'Litanne', 'Owen ', 'Yunya ',
       'Sharon ', 'Caitlin ', 'Luke ', 'Oyang', 'Vanessa', 'Chuck',
       'Betsy', 'Wylie', 'Lola', 'Prema', 'Janis', 'Luis', 'Bobby',
       'Erin', 'Marylin', 'Kent', 'Opal', 'Marilyn', 'Felix', 'Henriette',
       'Ismael', 'Roxane', 'Willie', 'Kirk', 'Bonita', 'Greg', 'Olivia',
       'Herb', 'Cesar and Douglas', 'Lilli', 'Marcos', 'Marco', 'Elida',
       'Fausto', 'Daniella', 'Victor', 'Winnie', 'Zita', 'One Bravo ',
       ' B', 'Martin', 'Paka', 'Oliwa', 'Linda', 'Gretelle', 'Josie',
       'Olaf', 'Pauline', 'Rick', 'Sybil ', 'Zack ', 'Karing', 'Zack',
       'Kent ', 'Gloria and Frankie', 'Frankie ', 'Bining', 'Fritz',
       'Ivan', 'Justin', 'Andres', 'Danny', 'Georges', 'Mitch', 'Babs ',
       'Wendy', 'Lothar', 'Rona', 'York', 'Anatol', 'Lenny', 'Jose',
       'Vance', 'Floyd', 'Dan', 'Sam', ' Irene', 'Dani', 'Steve',
       'Charley', 'A', 'Rex', 'Vicky ', 'Zeb', 'Stella', 'Isis',
       'Vicky and Todd ', 'Zeb ', 'Faith ', 'Ron', 'Cora', 'Babs',
       'Bonnie', 'Frances', 'Bart', '-A', 'Oa', 'Davina', 'Frank',
       'Irene', 'Dennis', 'Connie', 'Tessi', 'Hudah', 'Maria', 'Biring',
       'Prapiroon ', 'Norman', 'Bilis', 'Prapiroon', 'Wukong', 'Kirogi',
       'Saomai', 'Kai-Tak ', 'Xangsane ', 'Bebinca ', 'Rumbia ', 'Kaemi',
       'Willy', 'Chebi', 'Durian and Utor', 'Toraji', 'Yutu', 'Paula',
       'Pabuk', 'Auring', 'Utor ', 'Leslie', 'Utor', 'Trami', 'Durian',
       'Usagi', 'Sose', 'Michelle', 'Iris', 'Fitow', 'Trina', ' Michelle',
       'Danas', 'Dalila', 'Juliette', 'Lorena', 'Rusa', 'Hary', 'Lili',
       'Mitag', 'Jeannet', 'Jeanett', 'Hagupit', 'Isidore', 'Chataan',
       'Pongsona', 'Halong', 'Cyprien', 'Kesiny', 'Julio', 'Kenna',
       'Lingling ', 'Kajiki ', 'Nari', 'Waka', 'Zoe', 'Dina', 'Halong ',
       'Rammasun ', 'Hygos', 'Nakri', 'Ami', 'Fabian', 'Hail', 'Odette',
       'Calvann', 'Isabel', 'Imbudo', 'Dujuan', 'Nepartak', 'Lupit',
       'Catarina', 'Cosme ', 'Heta', 'Maemi', 'Etau', 'Linfa ',
       'Soudelor ', 'Marty', 'Manou', 'Ignacio', 'Japhet', 'Koni', 'Bill',
       'Fari', 'Cela', 'Erica', 'Gilas ', 'Ineng', 'Kabayan', 'Beni',
       'Nida ', 'Ivy ', 'Tingting', 'Mindulle ', 'Dianmu ', 'Chanthu ',
       'Jeanne', 'Galifo', 'Elita', ' Wilma', 'Gamma', 'Megi ', 'Aere ',
       'Merbok ', 'Meari ', 'Haima', 'Tokage ', 'Muifa ', 'Chaba',
       'Ma-on ', 'Nock-ten ', 'Songda ', 'Rananim ', 'Nanmadol ',
       'Matsa ', 'Nabi ', 'Khanun ', 'Alpha', ' Dennis', 'Talim',
       'Longwang', 'Stan', 'Mawar', 'Damrey', 'Erwin', 'Beta', 'Haitang ',
       'Percy', 'Ernest', 'Roke ', 'Gaston', 'Katrina', 'Vicente', 'Rita',
       'Kai Tak ', 'Chanchu ', 'Shanshan ', 'John', 'Lane', 'Glenda',
       'Bondo', 'Clare', 'Larry', 'Jim', 'Ernesto', 'Mala', 'Boloetse',
       'Indhala', 'Gonu', 'Clovis', 'Kyrill', 'Jaya', 'Favio', 'Gamède',
       'Adrian', 'Cimaron ', 'Durian ', 'Queenie ', 'Henry', 'Noel',
       'Olga', 'George and Jacob', 'Sidr', 'Sepat', 'Krosa', ' Neoguri ',
       '   Fay', ' Dolly', 'Alma', ' Paloma', ' Ike', ' Gustav',
       '  Nuri ', ' Hanna', 'Johanna', 'Emma', ' Omar', ' Fengshen ',
       '  Fung-Wong ', '  Kammuri ', ' Gene', ' Hagupit ', ' Jangmi ',
       'Lorenzo', 'Chedeng and Dodong', 'Lekima', 'Mitag ', 'Hagibis ',
       'Hanna', 'Yemyin', 'Man-Yi', 'Fitow ', 'Nari ', 'Goring', 'Guba',
       'Kabayan ', ' Nargis', '  Kalmaegi', ' Sinlaku', ' Fame', ' Ivan',
       '  Maysak ', ' Rammasun ', ' Helen', ' Mekkhala', '  Noul',
       ' Reshmi', ' Jokwe', ' Morakot ', ' Aila', '  Dominic', ' Koppu',
       '  Goni', ' Bijli', ' Bill', ' Pepeng ', 'Xynthia', ' Ului',
       'Hilal', '  Higos ', ' Dante ', '  Maring', '  Nando', ' Ida',
       ' Jimena', '  Emong ', '  Feria ', '  Labuyo ', '  Mirinae ',
       '  Urduja', ' Mick', ' Etau', '  Ondoy ', 's Eric and Fanele',
       '  Izilda', 'Goni ', ' Melor', ' Phyan', '  Jade', '  Isang ',
       '   Hubert', ' Agatha', ' Oli', ' Chanthu', ' Laila', '  Alex',
       ' Tomas', ' Phet', ' Conson ', '  Ester ', ' Fanapi', '  Matthew',
       '  Nicole', ' Frank', ' Giri', ' Earl', ' Jal', ' Karl', ' Megi ',
       ' Meranti', ' Kompasu', ' Talas', '  Beatrix', ' Jova', ' Bebeng ',
       '  Dodong ', '  Meari ', '  Juaning ', ' Kabayan ', '  Washi ',
       '  Arlene', ' Quiel ', ' Ma-on', '  Yasi', ' Pedring ',
       '  Orphelia', ' Roke', '  Bingiza', '  Dora', ' Chedeng ',
       'Joachim', ' Nate', '  Haima ', '  Emily', ' Thane', 'Keila',
       ' Mina ', '  Ramon ', '  Irina', ' Funso', ' Giovanna', '  Dando',
       '  Hermine', ' Mindulle', '  Lee', '  Wilma', '  Vania',
       '  Gener ', ' Tembin', ' Sandy', '  Iggy', ' Nilam', ' Vicente',
       ' Damrey', '  Debby', ' Haikui', ' Kai-Tak', ' Son Tinh ',
       ' Isaac', ' Evan', ' Bolaven', ' Jelawat', ' Sanba', ' Dirk',
       ' Wipha', ' Xaver', '  Fitow', ' Phailin', 'Ex-  Oswald',
       '  Utor ', ' Trami ', '  Jebi', 'Helen', '  Man-Yi',
       'Winter  Alexa', ' Christian', '  Mahasen', ' Soulik', ' Rumbia',
       '  Ciramon', ' Usagi ', ' Wutip ', ' Haiyan ', '  Toraji', 'Ulla',
       '  Wukong ', ' Igme ', ' Lawin ', ' Carlotta', ' Karen',
       '  Marce ', ' Bopha', '  Fernand', ' Manuel ', ' Ingrid', ' A',
       '  Haruna', '  Auring', '  Nari ', ' Krosa ', '  Feleng',
       'Cleon and Dion', ' Barbara', '  Crising ', '  Agaton ',
       '  Basyang ', '  Lusi ', 'Hagibis', ' Kalmaegi ', ' Beisja', 'Ian',
       ' Henry ', ' Erika', ' Joaquin', ' Komen', ' Maysak', '  Kujira',
       ' Soudelor ', ' Lam ', ' Marcia', ' Olwyn', ' Chan-Home',
       '  Linfa ', ' Dujuan', ' Mujigae', ' Fred', ' Winston', 'Boris',
       ' Neoguri', ' Phanfone', ' Odile', '  Nakri', '  Trudy',
       '  Jangmi ', '  Dolly', ' Marie', ' Norbert', '  Sinlaku ',
       ' Hudhud', ' Halong', ' Vongfong', ' Ita', ' Iselle', ' Nangka',
       '  Chedza ', '  Amang ', ' Goni ', ' Koppu ', ' Melor ', 'Huda',
       ' Octavia', ' Desmond ', '  Etau', ' Pam', ' Patricia', ' Megh',
       'Joaquin', ' Noul ', '  Fundi', '  Raquel', ' Chapala', ' Roanu',
       ' Jonas ', ' Ulla', 'Debbie', ' Mora', 'Friederike ', ' Chaba ',
       '  Otto', '  Earl', ' Megi', '  Mindulle', ' Matthew', ' Butchoy ',
       ' Ferdie ', '  Zena', ' Vardah', ' Lionrock', ' Malakas',
       ' Newton', ' Helen ', ' Karen ', '  Dianmu', ' Nina ', ' Maria',
       ' Talim', ' Ockhi', 'Beatriz', ' Franklin', ' Cempaka', ' Katia',
       ' Doksuri', ' Hato', ' Enawo', '  Lidia', ' Dineo', 'Zeus',
       '  Talas', ' Noru', '  W ', 'Eleanor', ' Ava', '  Basyang  ',
       '  Berguitta', ' Gita', 'Agaton ', ' Vamco', ' Hermine', '  Aere',
       ' Mirinae', '  Ex-Dineo', ' Harvey', '  Donna', ' Adrian',
       '  Titli', '  Alberto', ' Maria ', ' Bebinca', '  Yagi',
       '  Rumbia', ' Sagar', ' Josie', ' Jebi', ' Trami', ' Son Tinh',
       '  Eliakim', '  Vicente', ' Mekunu', ' Luban', '  Ewiniar',
       '  Ampil ', ' Mangkut ', ' Michael', ' Beryl', '  Keni', ' Gaja',
       '  Phethai', ' Kong-Rey', ' Willa', ' Amelie', '  Lekima ',
       ' Belna', ' Norma', ' Idai', ' Kenneth', '  Hagibis', '  Lorena',
       ' Fani', '  Bulbul', '  Dorian', '  Lingling', '  Mitag',
       '  Sarai', ' Wutip', '  Tapah', ' Faxai', '  Narda', '  Penny',
       ' Tino', '  Son-tinh  and Josie', '  Usman', ' Yutu ', ' Florence',
       ' Leslie', '  Kalmaegi ', '  Phanfone ', '  Pawan', ' Matmo',
       '   Imelda', '  Podul', '  Pabuk', 'Benedic ', '  Electre ',
       '  Frida ', '  Justine', 'Eric ', '  Nigel ', '  Odette',
       'Domoina ', '  Imboa', 'Eric  ', '  Nigel', 'Kalafandji ',
       '  Firinga', 'Brian ', '  Angela ', '  Dan', 'Fili  ', '  Gina',
       'Ofelia   ', '  Percy', 'Val  ', '  Wasa', 'Zeke  ', '  Fred',
       'Arlene ', '  Beatriz', 'Daisy ', '  Geralda', 'Hollanda ',
       '  Ivy', 'Alma ', '  Boris', 'Cilly ', '  Desiree ', '  Fanny',
       '  Désirée et Fanny', 'Chip ', '  Elvis  ', '  Dawn', 'Madeline  ',
       '  Lester', 'Faith  ', '  Gil', 'Yali ', '  Zuman', 'Eline ',
       '  Gloria', 'Wipha ', ' Goring', '  ', '  Nate', ' Lan ', ' Paolo',
       '  Pakhar ', ' Jolina', ' Nesat  ', '  Haitang', ' Damrey  ',
       '  Ramil', 'Elsa ', '  Fabien'], dtype=object)

In [0]:
## Remove rows without event name
emdat_noname_df[emdat_noname_df['Event name'] != ""]

## Strip leading spaces .str.strip()
emdat_noname_df['Event name'] = emdat_noname_df['Event name'].apply(lambda x: x.strip())

In [0]:
### It appears some observations have name as simply "Hurricane" 
## and removing these leaves the name empty. This should be dropped.
mask = emdatdf['Event name'].str.contains(r'\b(?:{})\b'.format('|'.join(to_remove)))
mask = mask.replace(np.nan, False)


## Convert names to uppercase
emdat_noname_df['Event name'] = emdat_noname_df['Event name'].apply(lambda x: x.upper())

In [0]:
emdat_noname_df['Event name'].value_counts()

            30
IRMA        18
NATE        17
EMILY       15
MATTHEW     15
            ..
DANTE        1
MEKKHALA     1
BENI         1
STEVE        1
LORENZO      1
Name: Event name, Length: 736, dtype: int64

In [0]:
emdat_noname_df.shape

(1933, 34)

In [0]:
#### Ibtracs

In [23]:
ibtracdf = pd.read_csv('/content/drive/My Drive/IBTrACS-ALL-list-v04r00-lines-dbf.csv')
#ibtracdf = ibtracdf[ibtracdf['year'] >= 1980]
tup_zipped = list(set(tuple(zip(ibtracdf.SID, ibtracdf.NAME))))

## Create a dictionary with ibtracs SID & storm name
SID_Namedict = {x:y for x, y in tup_zipped }

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (12,21,22,61,66,128,143,148) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [0]:
###Tce dat processing

In [0]:
tcedf_copy = tcedf.copy()

## Create column "name" using ibtracID

### Note there are now two columns with event names. tc_names came with the data, 
## and "name" was extracted using ibtrac ID. Merge will be performed using both
## columns separately and then merged. 
tcedf_copy['name'] = tcedf_copy['IBTrACS_ID'].apply(lambda x: SID_Namedict.get(str(x)))

## Drop rows without event name
tcedf_copy = tcedf_copy[tcedf_copy['name'] != "NOT_NAMED"]

# Drop rows with no names on both name & tc_name
tcedf_copy = tcedf_copy[(tcedf_copy['TC_name'] != "UNNAMED") & (tcedf_copy['name'].notna())]

In [0]:
tcedf_copy.head()

      year     IBTrACS_ID TC_name  ... 96kn_pop 96kn_assets   name
2217  1980  1980001S13173    PENI  ...      0.0         0.0   PENI
2218  1980  1980003S15137    PAUL  ...      0.0         0.0   PAUL
2220  1980  1980068S13068   LAURE  ...      0.0         0.0  LAURE
2221  1980  1980069S12161    SINA  ...      0.0         0.0   SINA
2222  1980  1980069S12161    SINA  ...      0.0         0.0   SINA

[5 rows x 16 columns]

In [0]:
## SINA appears twice. 1990 & 1980 We would
# need to merge on both name and year. 
tcedf_copy[tcedf_copy['TC_name'] == "SINA"]

      year     IBTrACS_ID TC_name  ...  96kn_pop  96kn_assets  name
2221  1980  1980069S12161    SINA  ...       0.0          0.0  SINA
2222  1980  1980069S12161    SINA  ...       0.0          0.0  SINA
3127  1990  1990327S07175    SINA  ...  225854.0  920679559.0  SINA

[3 rows x 16 columns]

In [25]:
## TC_NAME
tcedf_copy["TC_name"][tcedf_copy["TC_name"] == 'BELLY'] = "BETTY"
tcedf_copy["TC_name"][tcedf_copy["TC_name"] == 'BRENDA'] = "BRENDAN"




id_split = ['1980073S09133', '1987035S12160', '1988285N09318', '1989209N22130', 
            '1996282N11162', '1998036S13135', '2013130N04093']


for eachsplit in id_split:
  tcedf_copy['TC_name'][tcedf_copy['IBTrACS_ID'] == eachsplit] = tcedf_copy['name'].str.split(":").str[0]
  tcedf_copy['name'][tcedf_copy['IBTrACS_ID'] == eachsplit] = tcedf_copy['name'].str.split(":").str[1]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]

In [0]:
## Columns to keep
tce_dat_columns = ['year', 'IBTrACS_ID', 'name', 'TC_name', 'countries_affected', 'ISO3', 'v_land_SI',
                   'v_land_kn', '34kn_pop', '34kn_assets', '64kn_pop', '64kn_assets', 
                   '96kn_pop', '96kn_assets']

tcedf_copy = tcedf_copy[tce_dat_columns]

In [0]:
## Entries where names don't match. This is 
# either due to typos or multiple naming

tcedf_copy[["IBTrACS_ID", "TC_name", "name"]][tcedf_copy['TC_name'] != tcedf_copy['name']]

         IBTrACS_ID       TC_name              name
2223  1980073S09133  DORIS-GLORIA            GLORIA
2778  1987035S12160           UMA              VELI
2789  1987140S08170        BLANCH         BLANCH(E)
2901  1988285N09318          JOAN            MIRIAM
2902  1988285N09318          JOAN            MIRIAM
2903  1988285N09318          JOAN            MIRIAM
2904  1988285N09318          JOAN            MIRIAM
2905  1988285N09318          JOAN            MIRIAM
2906  1988285N09318          JOAN            MIRIAM
2907  1988285N09318          JOAN            MIRIAM
2908  1988285N09318          JOAN            MIRIAM
2909  1988285N09318          JOAN            MIRIAM
2910  1988285N09318          JOAN            MIRIAM
2956  1989134N07138       BRENDAN            BRENDA
2957  1989134N07138       BRENDAN            BRENDA
2958  1989134N07138       BRENDAN            BRENDA
2983  1989209N22130      KEN-LOLA              LOLA
2984  1989209N22130      KEN-LOLA              LOLA
3692  1996282N11162          ABEL              BETH
3693  1996282N11162          ABEL              BETH
3803  1998036S13135         CINDY            VICTOR
4003  2000067S15189          MONA  HR19S(MONA):MONA
4272  2003259N13133          CHOI          CHOI-WAN
4378  2004288N09164          NOCK          NOCK-TEN
4379  2004288N09164          NOCK          NOCK-TEN
5116  2013130N04093       MAHASEN            VIYARU
5117  2013130N04093       MAHASEN            VIYARU
5118  2013130N04093       MAHASEN            VIYARU

In [0]:
### Compare emdat & Tce dat

In [26]:
emdat_list = list(emdat_noname_df['Event name'])

tce_lists = [list(tcedf_copy['TC_name']), list(tcedf_copy['name'])]

for l in tce_lists:
  results = {}
  for i in emdat_list:
    results[i] = l.count(i) 

  count = 0
  for each in results:
    if results[each] != 0:
      count += 1

  print(count) ##478 & 476

555
553

In [0]:
emdatzip = { x:y for x, y in zip(emdat_noname_df['Event name'], emdat_noname_df['Year'])}
tcezip = { x:y for x, y in zip(tcedf_copy['TC_name'], tcedf_copy['year'])}

In [0]:
#### Rolf Merge Code

merged_df = emdat_noname_df.copy()

# merged_df = merged_df.assign()
columns_to_add = tcedf_copy.columns[3:]
for col in columns_to_add:
    merged_df[col] = None


for i, col in emdat_noname_df[emdat_noname_df['Year'] >= 1960].iterrows():
    year = col['Year']
    country_code = col['ISO']
    cyclone_name = col['Event name']
    tce = tcedf_copy.loc[tcedf_copy['ISO3'] == country_code]
    print(cyclone_name)
    if cyclone_name is None or cyclone_name != cyclone_name:
        print('no data')
        continue
    cyclone_name= cyclone_name.upper()
    if len(tce) < 1:
        print('no data')
        continue

    tce_by_year = tce.loc[tce['year'] == year]
    if len(tce_by_year) < 1:
        print('no data')
        continue

    print(i)
    tce_by_cyclone = tce.loc[tce['TC_name']== cyclone_name]
    if len(tce_by_cyclone) < 1:
        print('no data')
        continue

    new_row = col.append(tce_by_cyclone[columns_to_add].iloc[0])

    merged_df.loc[i] = new_row

merged_df.to_csv('merged.csv')

In [0]:
merged_df.shape

(1819, 45)

In [0]:
merged_df.shape

(1819, 45)

In [0]:
merged_df[(merged_df['Total affected'].isna() & merged_df['34kn_pop'].isna())].shape

(294, 45)

In [0]:
merged_df[(merged_df['Total affected'].isna() & merged_df['34kn_pop'].isna())].shape

(294, 45)

In [29]:
### Print number of na values for affected columns

affected_list = ['Num affected',  'Num homeless', 'Num injured']

for l in affected_list:
  print(l, " ", merged_df[merged_df[l].isna()].shape)

print(merged_df[(merged_df[affected_list[0]].isna() & merged_df[affected_list[1]].isna() & merged_df[affected_list[2]].isna())].shape)

Num affected   (928, 47)
Num homeless   (1890, 47)
Num injured   (1560, 47)
(634, 47)

In [0]:
tcedf_copy.shape, emdat_noname_df.shape

((2501, 14), (1819, 34))

In [0]:
#####################
###################
##################
### New Merge Attempt
tcedf_copy.head(2)

      year     IBTrACS_ID  name  ...   64kn_assets 96kn_pop 96kn_assets
2217  1980  1980001S13173  PENI  ...  3.880521e+07      0.0         0.0
2218  1980  1980003S15137  PAUL  ...  7.926763e+09      0.0         0.0

[2 rows x 14 columns]

In [0]:
emdat_noname_df.head(2)

           CPI Continent Country name  ...   Type  Unnamed: 0  Year
447  32.233893  Americas        Haiti  ...  Storm        2198  1980
451  32.233893   Oceania    Australia  ...  Storm        2213  1980

[2 rows x 34 columns]

In [0]:
##Inner Join

merged_one = pd.merge(tcedf_copy, emdat_noname_df, left_on=['TC_name', 'year', 'ISO3'], right_on=['Event name', 'Year', 'ISO'])
merged_two = pd.merge(tcedf_copy, emdat_noname_df, left_on=['name', 'year', 'ISO3'], right_on=['Event name', 'Year', 'ISO'])
merged = pd.concat([merged_one, merged_two], sort=True).drop_duplicates()

In [31]:
merged_one.shape, merged_two.shape, merged.shape

((1033, 50), (1019, 50), (993, 50))

In [32]:
merged[merged['Total affected'].isna()].shape

(237, 50)

In [0]:
merged.to_csv("emdat_inner.csv")

In [0]:
merged[merged['Total affected'].isna()]

      34kn_assets    34kn_pop   64kn_assets  ...  v_land_SI  v_land_kn  year
1    1.365669e+10   2417472.0  4.917228e+08  ...       63.0      122.5  1980
2    5.925760e+08     72282.0  0.000000e+00  ...       24.6       47.9  1980
3    2.706381e+09    273762.0  0.000000e+00  ...       31.7       61.6  1980
4    1.909564e+08     56163.0  0.000000e+00  ...       22.6       44.0  1980
8    0.000000e+00    326247.0  0.000000e+00  ...       43.3       84.1  1980
..            ...         ...           ...  ...        ...        ...   ...
861  4.159030e+09    460550.0  1.743116e+08  ...       36.6       71.1  2015
862  1.926384e+10   3556488.0  0.000000e+00  ...       23.2       45.1  2015
863  6.974537e+11  32499157.0  1.886408e+11  ...       48.0       93.4  2015
864  1.038558e+10     84549.0  3.644826e+09  ...       61.4      119.4  2015
873  6.596252e+06    226629.0  1.131492e+06  ...       39.0       75.8  2015

[174 rows x 48 columns]

In [0]:
merged[merged['64kn_pop'].isna()].shape

(0, 48)

In [0]:
merged[(merged['Total affected'].isna() & merged['34kn_pop'].isna())].shape

(0, 48)

In [0]:
### Print number of na values for affected columns


for l in affected_list:
  print(l, " ", merged[merged[l].isna()].shape)

print(merged[(merged[affected_list[0]].isna() & merged[affected_list[1]].isna() & merged[affected_list[2]].isna())].shape)

Num affected   (291, 48)
Num homeless   (643, 48)
Num injured   (518, 48)
(174, 48)

In [0]:
### Outer Join

##Inner Join

merged_one_outer = pd.merge(tcedf_copy, emdat_noname_df, 
                      left_on=['TC_name', 'year', 'ISO3'], 
                      right_on=['Event name', 'Year', 'ISO'], 
                      how='outer')
merged_two_outer = pd.merge(tcedf_copy, emdat_noname_df, 
                      left_on=['name', 'year', 'ISO3'], 
                      right_on=['Event name', 'Year', 'ISO'], 
                      how='outer')
merged_outer = pd.concat([merged_one_outer, merged_two_outer], sort=True).drop_duplicates()

In [36]:
merged_outer.shape

(5471, 50)

In [0]:
merged_outer.head(2)

    34kn_assets  34kn_pop   64kn_assets  ...  v_land_SI  v_land_kn    year
0  1.777832e+09  451029.0  3.880521e+07  ...       43.5       84.5  1980.0
1  1.716966e+10  292780.0  7.926763e+09  ...       51.8      100.7  1980.0

[2 rows x 48 columns]

In [37]:
merged_outer[merged_outer['Total affected'].isna()].shape

(3861, 50)

In [38]:
merged_outer[(merged_outer['Total affected'].isna() & merged_outer['34kn_pop'].isna())].shape

(356, 50)

In [0]:
merged_outer.to_csv("emdat_outer.csv")

In [0]:


for l in affected_list:
  print(l, " ", merged_outer[merged_outer[l].isna()].shape)

print(merged_outer[(merged_outer[affected_list[0]].isna() & 
                    merged_outer[affected_list[1]].isna() & 
                    merged_outer[affected_list[2]].isna())].shape)

Num affected   (2365, 48)
Num homeless   (3129, 48)
Num injured   (2886, 48)
(2135, 48)

In [0]:
def get_perc_values(df):
  return sorted({k:round(v/df.shape[0],3) for k,v in dict(df.notnull().sum()).items()}.items(), key=operator.itemgetter(1), reverse=True)

In [41]:
import operator

get_perc_values(merged_outer)

[('34kn_assets', 0.779),
 ('34kn_pop', 0.779),
 ('64kn_assets', 0.779),
 ('64kn_pop', 0.779),
 ('96kn_assets', 0.779),
 ('96kn_pop', 0.779),
 ('IBTrACS_ID', 0.779),
 ('ISO3', 0.779),
 ('TC_name', 0.779),
 ('countries_affected', 0.779),
 ('name', 0.779),
 ('v_land_SI', 0.779),
 ('v_land_kn', 0.779),
 ('year', 0.779),
 ('genesis_basin', 0.534),
 ('Continent', 0.403),
 ('Country name', 0.403),
 ('End year', 0.403),
 ('Entry criteria', 0.403),
 ('Event name', 0.403),
 ('Group', 0.403),
 ('ISO', 0.403),
 ('Region', 0.403),
 ('Seq', 0.403),
 ('Start year', 0.403),
 ('Subgroup', 0.403),
 ('Subtype', 0.403),
 ('Type', 0.403),
 ('Unnamed: 0', 0.403),
 ('Year', 0.403),
 ('CPI', 0.402),
 ('End month', 0.402),
 ('Start month', 0.402),
 ('End day', 0.387),
 ('Start day', 0.387),
 ('NatCatSERVICE_ID', 0.356),
 ('Location', 0.34),
 ('Total deaths', 0.306),
 ('Total affected', 0.294),
 ("Total damage ('000$)", 0.246),
 ('Num affected', 0.244),
 ('Magnitude (value)', 0.145),
 ('Num injured', 0.136),
 ('Num homeless', 0.08),
 ("Insured losses ('000$)", 0.047),
 ('River basin', 0.006),
 ('Subsubtype', 0.004),
 ('Origin', 0.002),
 ('Local time', 0.001),
 ("Reconstruction cost ('000$)", 0.001)]

In [42]:
get_perc_values(merged)

[('34kn_assets', 1.0),
 ('34kn_pop', 1.0),
 ('64kn_assets', 1.0),
 ('64kn_pop', 1.0),
 ('96kn_assets', 1.0),
 ('96kn_pop', 1.0),
 ('CPI', 1.0),
 ('Continent', 1.0),
 ('Country name', 1.0),
 ('End year', 1.0),
 ('Entry criteria', 1.0),
 ('Event name', 1.0),
 ('Group', 1.0),
 ('IBTrACS_ID', 1.0),
 ('ISO', 1.0),
 ('ISO3', 1.0),
 ('Region', 1.0),
 ('Seq', 1.0),
 ('Start year', 1.0),
 ('Subgroup', 1.0),
 ('Subtype', 1.0),
 ('TC_name', 1.0),
 ('Type', 1.0),
 ('Unnamed: 0', 1.0),
 ('Year', 1.0),
 ('countries_affected', 1.0),
 ('name', 1.0),
 ('v_land_SI', 1.0),
 ('v_land_kn', 1.0),
 ('year', 1.0),
 ('End month', 0.996),
 ('Start month', 0.996),
 ('End day', 0.964),
 ('Start day', 0.964),
 ('Location', 0.853),
 ('Total deaths', 0.806),
 ('NatCatSERVICE_ID', 0.761),
 ('Total affected', 0.761),
 ("Total damage ('000$)", 0.667),
 ('genesis_basin', 0.66),
 ('Num affected', 0.628),
 ('Magnitude (value)', 0.406),
 ('Num injured', 0.379),
 ('Num homeless', 0.236),
 ("Insured losses ('000$)", 0.13),
 ("Reconstruction cost ('000$)", 0.005),
 ('Origin', 0.002),
 ('River basin', 0.001),
 ('Subsubtype', 0.001),
 ('Local time', 0.0)]